@import url('https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Caudex&family=Montserrat:wght@400;900&family=Newsreader:opsz@6..72&family=Poppins&family=Quicksand:wght@300&family=Raleway&display=swap');
@media screen and (max-width:1025px) {
    header {
        #nav {
            div {
                left: 0;
            }
        }
    }

    .sec {
        #text {
            gap: 0;

            #textleft {
                /* background: #000; */
            }

            #textright {
                /* background: #000; */
            }
        }
    }

    #sec1 {
        #up {
            .left {
                #num {
                    div {
                        width: 150px;
                        /* border: 2px solid ghostwhite; */
                    }
                }
            }
            /* .right{
                width: 100%;
                height: 50px;
            } */
        }

        #down {
            padding: 0;
            /* bottom: 0; */
            /* justify-content: space-between; */
            /* width: 93vw; */
            height: 377px;
            gap: 0;
            /* background: #000; */
            #container {
                scale: .9;
                width: 300px;
                height: 377px;

            }
        }
    }
}

@media screen and (max-width:768px) {
    header {
        padding: 0 15px;
        justify-content: space-between;

        #nav {
            display: none;
        }
    }

    .sec {
        padding: 40px 15px;
        height: 100vh;
        display: block;

        #text {
            height: 41vh;
            width: 96vw;
            /* background: #000; */
            position: relative;

            #textleft {
                padding: 0px 0 0 0;
                /* background: red; */

                #h3 {
                    font-size: 2rem;
                }

                .h3 {
                    font-size: 2.7rem;
                }

                #p {
                    width: 100%;
                    font-size: 1.2rem;
                }
            }

            #textright {
                padding: 0px 0 0 50px;
                /* background: blue; */

                #h6 {
                    font-size: 1.1rem;
                }

                #h4 {
                    font-size: 1.2rem;
                }

                #p {}
            }
        }

        #image {
            left: 0;
            overflow: hidden;
            height: 47vh;
            width: 96vw;
            position: relative;
            /* background: #000; */

            #gola {
                height: 400px;
                width: 400px;
            }

            img {
                width: 400px;
            }
        }

        #bar {
            width: 96%;
            gap: 0 100px;
            height: 160px;
        }
    }

    #sec1 {
        height: 160vh;
        padding: 50px 16px;

        #up {
            display: block;
            justify-content: space-between;
            /* background: #823434; */
            height: 150vh;

            .left {
                padding: 90px 0px;
                display: flex;
                width: 100%;
                height: 30%;
                /* background: #000; */
                /* .text{} */
                #num {
                    /* background: #000; */

                    div {
                        width: 153px;
                    }
                }
            }

            .right {
                padding: 0;
                height: 60%;
                width: 100%;
                /* background: #000; */
            }
        }
        #down{
            /* background: #000; */
            height: 54%;
            width: 96%;
            bottom: -470px;
            #container{
                height: 320px;
            }
        }
    }

    .sec2{
        padding: 60vh 2vw 6vh 2vw;
        justify-content: space-between;
        #container{
            width: 96vw;
            
            .box{
                height: 40vh;
                width: 42vw;
            }
        }
    }
}

@media screen and (max-width:426px) {
    .sec {
        height: 145vh;

        /* background: #000; */
        #text {
            height: 84vh;
            width: 93vw;
            display: block;
            /* background: #000; */

            #textleft {
                height: 47vh;
                width: 93vw;
                /* background: #000; */

                #p {
                    width: 75vw;
                    /* background: #000; */
                }
            }

            #textright {
                padding: 0;
                height: 36vh;
                width: 93vw;
                /* background: #000; */
            }
        }

        #image {
            width: 93vw;
            /* background: #000; */

            #gola {
                height: 300px;
                width: 300px;
            }

            img {}
        }

        #bar {
            gap: 0;
            width: 93vw;

            .box {
                width: 180px;
            }
        }
    }

    #sec1{
        #up{
            .left{
                padding: 30px 0;
                height: 44%;
                /* background: #000; */
                display: block;
            }
            .right{
                height: 40%;
                /* background: #000; */
            }
        }
        #down{
            #container{
                width: 100%;
            }
        }
    }

    .sec2{
        height: 403%;
        padding-bottom: 2vh;
        #text{
            margin-top: 42vh;
            h2{
                /* background: #000; */
                width: 100%;
            }
            p{
                /* background: #000; */
                width: 100%;
            }
        }

        #container{
            height: 272vh;
            /* background: #000; */

            .box{
                width: 100%;
            }
        }
        #container:hover{
            scale: 1;
        }
        #btn{
            margin: 0 30vw;
        }
    }
}

@media screen and (max-width:376px) {
    .sec {
        #container:hover{
            scale: 1;
        }
        #text {

            #textleft {
                .h3 {
                    /* background: #000; */
                    font-size: 2.5rem;
                }
            }
        }

        #bar {
            .box {
                width: 170px;
            }
        }
    }
    .sec2{
        height: 408%;
    }
}

@media screen and (max-width:321px) {
    .sec {
        #text {

            #textleft {
                .h3 {
                    /* background: #000; */
                    font-size: 2.1rem;
                }
            }
        }

        #bar {
            .box {
                width: 140px;
            }
        }
    }

    #sec1{
        height: 200vh;
        #up{
            height: 190vh;
            .left{
                #num{
                    
                    /* background: #000; */
                    width: 100%;
                    height: 300px;
                }
            }
        }
        #down{
            bottom: -600px;
        }
    }

    .sec2{
        height: 414vh;
    }
}